# NOTE: If you want to add any included files, add them explicitly.

.*~
*.class
*.jar
.classpath
org/terraswarm/accessor/accessors/
vendors/JMF-2.1.1e/
vendors/jai-1_1_2_01/
vendors/jogl/
vendors/oscP5/
vendors/universalJavaApplicationStub/
*/test/*.tcl

/.antlr-eclipse
/autom4te.cache
/build
/build.xml
/ChangeLog
/ChangeLog.txt
/codeDoc
/confdefs.h
/config.cache
/config.log
/config.status
/*.exe
/.externalToolBuilders
/.fbprefs
/.fbwarnings
/jar_dist
/jdk
/*.jnlp
/jnlp_manifest.txt
/jnlp_sandbox_manifest.txt
/node_modules
/*.out
/.project
/ptKeystore
/signed
/src
/svnupdate.txt
/target
/*.xml
/.cproject
/mydir
/.settings/org.eclipse.jdt.ui.prefs
/.settings/org.eclipse.jdt.core.prefs
/adm/dists
/adm/ant/
/adm/dists/ptII*
/adm/gen-11.0/capeCodeNonGUI*.tar.gz
/adm/gen-11.0/jre
/adm/gen-11.0/jre32
/adm/gen-11.0/jre64
/adm/gen-11.0/*.out
/adm/gen-11.0/capecode*.app
/adm/gen-11.0/capecode*.exe
/adm/gen-11.0/capecode*.src.tar
/adm/gen-11.0/capecode*.tar
/adm/gen-11.0/capecode*.tar.gz
/adm/gen-11.0/capecode*.mac.dmg
/adm/gen-11.0/capecode*.xml
/adm/gen-11.0/capecode*.zip
/adm/gen-11.0/capeCode*.app
/adm/gen-11.0/capeCode*.exe
/adm/gen-11.0/capeCode*.src.tar
/adm/gen-11.0/capeCode*.tar
/adm/gen-11.0/capeCode*.tar.gz
/adm/gen-11.0/capeCode*.mac.dmg
/adm/gen-11.0/capeCode*.xml
/adm/gen-11.0/capeCode*.zip
/adm/gen-11.0/MacJVM.tar
/adm/gen-11.0/node
/adm/gen-11.0/ptII*.app
/adm/gen-11.0/ptII*.exe
/adm/gen-11.0/ptII*.src.tar
/adm/gen-11.0/ptII*.tar
/adm/gen-11.0/ptII*.tar.gz
/adm/gen-11.0/ptII*.mac.dmg
/adm/gen-11.0/ptII*.xml
/adm/gen-11.0/ptII*.zip
/adm/gen-11.0/PtolemyII_Digital*.pdf
/adm/gen-11.0/src
/adm/gen-11.0/src_jar
/adm/gen-11.0/test
/adm/logs/ptIInightly.txt
/adm/logs/ptIInightly.txt.[0-9]
/adm/logs/ptIInightly.txt.1[0-9]
/adm/logs/ptIInightly_mail.txt
/adm/logs/ptIInightly.htm
/bin/*.bat
/bin/capecode
/bin/CapeCode.app
/bin/comm.policy
/bin/convertToLazy
/bin/copernicus
/bin/copernicusjhdl
/bin/decompile
/bin/emachine
/bin/giottoc
/bin/histogram
/bin/homer
/bin/jode
/bin/*.lnk
/bin/makeapp
/bin/makebat
/bin/mescal
/bin/moml
/bin/.momllib-util
/bin/.nc2moml-util
/bin/.ncapp2moml-util
/bin/obfuscate
/bin/persist
/bin/ptcg
/bin/ptcodegen
/bin/ptexecute
/bin/ptinvoke
/bin/Ptiny.app
/bin/ptjacl
/bin/ptjaclapp
/bin/ptjg
/bin/ptolemy
/bin/ptplot
/bin/ptstartjini
/bin/ptweb
/bin/pxgraph
/bin/soot
/bin/startjini.gui
/bin/tinic
/bin/tinicomm
/bin/tiniconverter
/bin/vergil
/bin/Vergil.app
/diva/canvas/tutorial/doc-files
/doc/codeDoc
/doc/codeDocBcvtb
/doc/codeDocCapeCode
/doc/codeDocHyVisual
/doc/codeDocViptos
/doc/codeDocVisualSense
/doc/doccheck
/doc/js
/doc/ojdcheck.htm
/doc/spotbugs.htm
/doc/spotbugsOut.xml
/doc/spotbugs.xml
/doc/ptII8.0.releaseHyVisual.htm
/doc/ptII.fb
/doc/ptII.fbp
/doc/books/systems/PtolemyII_DigitalV1_02.pdf
/lbnl/actor/lib/ 
/lbnl/actor/lib/net/ 
/lbnl/actor/lib/test/auto/simulation.log
/lbnl/demo/CRoom/cclient
/lbnl/demo/CRoom/cclient.exe
/lbnl/demo/CRoom/cclient.dSYM
/lbnl/lib/matlab/*.mex*
/lbnl/lib/matlab/libbcvtb_thunk_*
/lbnl/lib/util/libbcvtb.dll
/lbnl/lib/util/libbcvtb.dylib
/lbnl/lib/util/libbcvtb.dylib.dSYM
/lbnl/lib/util/libbcvtb.jnilib
/lbnl/lib/util/libbcvtb.jnilib.dSYM
/lbnl/lib/util/libbcvtb.so
/lbnl/test/socket.cfg
/lbnl/test/utilSocket.log
/lbnl/test/auto/simulation.log
/lbnl/test/auto/socket.cfg
/lbnl/test/auto/utilSocket.log
/lbnl/util/ 
/lib/cachedir
/lib/libbcvtb.dylib
/lib/libbcvtb.jnilib
/lib/libbcvtb.so
/lib/ptII.properties
/mk/ptII.mk
/org/hlacerti/*.log
/org/hlacerti/demo/._SimpleProducerConsumer.fed
/org/hlacerti/demo/._.DS_Store
/org/hlacerti/demo/*.log
/org/hlacerti/demo/.DS_Store
/org/hlacerti/demo/RTIG.log
/org/hlacerti/demo/Billard/RTIG.log
/org/hlacerti/demo/Billard/RTIG.log
/org/hlacerti/demo/Billard/2Billes1Fed/RTIG.log
/org/hlacerti/demo/Billard/2Billes2Fed/RTIG.log
/org/hlacerti/demo/Billard/Others/RTIG.log
/org/hlacerti/demo/BillardHit/RTIG.log
/org/hlacerti/demo/BillardHit/centralized/RTIG.log
/org/hlacerti/demo/IntegrationTests/RTIG.log
/org/hlacerti/demo/IntegrationTests/TimeAdvancing1Federate/RTIG.log
/org/hlacerti/demo/IntegrationTests/TimeAdvancing2Federates/RTIG.log
/org/hlacerti/demo/IntegrationTests/TimeAdvancing2FederatesIntervalEvents/RTIG.log
/org/hlacerti/demo/MicrostepReset/RTIG.log
/org/hlacerti/demo/MicrostepReset/MicrostepResetNER/RTIG.log
/org/hlacerti/demo/MicrostepReset/MicrostepResetNERbis/RTIG.log
/org/hlacerti/demo/MicrostepReset/MicrostepResetTAR/RTIG.log
/org/hlacerti/demo/ModelUpdater/RTIG.log
/org/hlacerti/demo/MultiDataTypes/RTIG.log
/org/hlacerti/demo/SimpleProducerConsumerMulti/RTIG.log
/org/hlacerti/demo/SimpleProducerMultipleConsumerTAR/RTIG.log
/org/hlacerti/demo/SynchronizeToRealTime/RTIG.log
/org/hlacerti/demo/f14HLA/RTIG.log
/org/hlacerti/demo/f14HLA/AllFederatesNER/RTIG.log
/org/hlacerti/demo/f14HLA/AllFederatesTAR/RTIG.log
/org/hlacerti/demo/f14HLA/initialCentralizedF14/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/build/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/1_JOYSTICK/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/1_JOYSTICK/Includes/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/1_JOYSTICK/Sources/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/COMMON/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/COMMON/Includes/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/COMMON/Sources/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/INIT_FILES/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/XML/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/XML/Includes/RTIG.log
/org/hlacerti/demo/f14HLA/priseStick/src/XML/Sources/RTIG.log
/org/hlacerti/demo/legacy/RTIG.log
/org/hlacerti/demo/legacy/MonoInstance/RTIG.log
/org/hlacerti/demo/legacy/MonoInstance/CoSimulationFunctional/RTIG.log
/org/hlacerti/demo/legacy/MonoInstance/MultiDataTypes/RTIG.log
/org/hlacerti/demo/legacy/MonoInstance/MultiProducerConsumer/RTIG.log
/org/hlacerti/demo/legacy/MonoInstance/SimpleProducerConsumer/RTIG.log
/org/hlacerti/demo/legacy/MonoInstance/SynchronizeToRealTime/RTIG.log
/org/hlacerti/demo/legacy/MonoInstance/f14HLA/RTIG.log
/org/hlacerti/demo/legacy/StaticMultiInstance/RTIG.log
/org/hlacerti/demo/legacy/StaticMultiInstance/2Billes2Fed/RTIG.log
/org/hlacerti/demo/legacy/StaticMultiInstance/Billard/RTIG.log
/org/hlacerti/demo/legacy/StaticMultiInstance/CoSimulationFunctional/RTIG.log
/org/hlacerti/lib/test/RTIG.log
/org/hlacerti/test/auto/RTIG.log
/org/hlacerti/test/auto/MultiDataTypes/RTIG.log
/org/ptolemy/
/org/terraswarm/accessor/demo/Junk
/org/terraswarm/accessor/status/accessorMapCapeCode.txt
/ptdb/build/cobertura.ser
/ptdb/build/instrumented
/ptdb/build/reports
/ptdb/config/database/testdata/Testing.dbxml
/ptdb/config/database/testdata/Testing_cache.dbxml
/ptdb/config/database/testdata/log.*
/ptdb/config/database/testdata/__db.*
/ptolemy/actor/gui/junk.xml
/ptolemy/actor/gui/doc/codeDoc
/ptolemy/actor/lib/fmi/fmipp/fmipp.dll
/ptolemy/actor/lib/fmi/fmipp/IncrementalFMU_wrap.dll
/ptolemy/actor/lib/fmi/fmipp/libIncrementalFMU_wrap.dylib
/ptolemy/actor/lib/fmi/fmipp/libIncrementalFMU_wrap.jnilib
/ptolemy/actor/lib/fmi/fmipp/libIncrementalFMU_wrap.so
/ptolemy/actor/lib/fmi/fmipp/libfmipp.dylib
/ptolemy/actor/lib/fmi/fmipp/libfmipp.jnilib
/ptolemy/actor/lib/fmi/fmipp/libfmipp.so
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple.c
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple.so
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple.dylib
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple.jnilib
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple.dll
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple_FMU.c
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple_FMU.log
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple_functions.c
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple_functions.h
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple_model.h
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/Simple_records.c
/ptolemy/actor/lib/fmi/fmipp/demo/FMUModelExchange/modelDescription.xml
/ptolemy/actor/lib/fmi/fmipp/swig/IncrementalFMU_wrap.cxx
/ptolemy/actor/lib/fmi/fmus/ballDynamics/*.fmu
/ptolemy/actor/lib/fmi/fmus/bouncingBall20RC1/*.fmu
/ptolemy/actor/lib/fmi/fmus/bouncingBall20RC1/src/binaries
/ptolemy/actor/lib/fmi/fmus/bouncingBallME1/*.fmu
/ptolemy/actor/lib/fmi/fmus/dqME1/*.fmu
/ptolemy/actor/lib/fmi/fmus/fmusim2/fmusim2
/ptolemy/actor/lib/fmi/fmus/fmusim2/fmusim2.exe
/ptolemy/actor/lib/fmi/fmus/heaterFlowResistance/*.fmu
/ptolemy/actor/lib/fmi/fmus/heaterFlowResistance/src/binaries
/ptolemy/actor/lib/fmi/fmus/helloWorld/*.fmu
/ptolemy/actor/lib/fmi/fmus/helloWorld/src/binaries
/ptolemy/actor/lib/fmi/fmus/helloWorldME2/*.fmu
/ptolemy/actor/lib/fmi/fmus/inc20RC1/*.fmu
/ptolemy/actor/lib/fmi/fmus/inc20RC1/.cproject
/ptolemy/actor/lib/fmi/fmus/inc20RC1/.project
/ptolemy/actor/lib/fmi/fmus/inc20RC1/.settings
/ptolemy/actor/lib/fmi/fmus/inc20RC1pt/*.fmu
/ptolemy/actor/lib/fmi/fmus/inc20RC1pt/.cproject
/ptolemy/actor/lib/fmi/fmus/inc20RC1pt/.project
/ptolemy/actor/lib/fmi/fmus/inc20RC1pt/.settings
/ptolemy/actor/lib/fmi/fmus/incME1/*.fmu
/ptolemy/actor/lib/fmi/fmus/incME1/src/binaries
/ptolemy/actor/lib/fmi/fmus/jmodelica/
/ptolemy/actor/lib/fmi/fmus/jmodelica/AMS_AMSSim/*.fmu
/ptolemy/actor/lib/fmi/fmus/jmodelica/AMS_AMSSim/src/binaries
/ptolemy/actor/lib/fmi/fmus/jmodelica/CoupledClutches/*.fmu
/ptolemy/actor/lib/fmi/fmus/jmodelica/CoupledClutches/src/binaries
/ptolemy/actor/lib/fmi/fmus/levelStairs/*.fmu
/ptolemy/actor/lib/fmi/fmus/omc/HeatConductor/*.fmu
/ptolemy/actor/lib/fmi/fmus/omc/HeatConductor/src
/ptolemy/actor/lib/fmi/fmus/omc/Influenza/*.fmu
/ptolemy/actor/lib/fmi/fmus/omc/Influenza/src/binaries
/ptolemy/actor/lib/fmi/fmus/omc/Linsys/*.fmu
/ptolemy/actor/lib/fmi/fmus/omc/Linsys/src/binaries
/ptolemy/actor/lib/fmi/fmus/omc/Linsys2/*.fmu
/ptolemy/actor/lib/fmi/fmus/omc/Linsys2/src/binaries
/ptolemy/actor/lib/fmi/fmus/omc/LorenzAttractor/*.fmu
/ptolemy/actor/lib/fmi/fmus/omc/LorenzAttractor/src
/ptolemy/actor/lib/fmi/fmus/omc/Test1/*.fmu
/ptolemy/actor/lib/fmi/fmus/omc/Test1/src/binaries
/ptolemy/actor/lib/fmi/fmus/omc/test/auto/VanDerPol_out.csv
/ptolemy/actor/lib/fmi/fmus/onOffSupervisor/onOffSupervisor.fmu
/ptolemy/actor/lib/fmi/fmus/onOffSupervisor/src/binaries
/ptolemy/actor/lib/fmi/fmus/output20RC1pt/.project
/ptolemy/actor/lib/fmi/fmus/output20RC1pt/.settings
/ptolemy/actor/lib/fmi/fmus/output20RC1pt/.cproject
/ptolemy/actor/lib/fmi/fmus/output20RC1pt/output20RC1pt.fmu
/ptolemy/actor/lib/fmi/fmus/output20RC1pt/src/binaries
/ptolemy/actor/lib/fmi/fmus/pumpConstantSpeed/*.fmu
/ptolemy/actor/lib/fmi/fmus/scale20RC1/input.csv
/ptolemy/actor/lib/fmi/fmus/scale20RC1/*.fmu
/ptolemy/actor/lib/fmi/fmus/scale20RC1/.project
/ptolemy/actor/lib/fmi/fmus/scale20RC1/.cproject
/ptolemy/actor/lib/fmi/fmus/scale20RC1/output.csv
/ptolemy/actor/lib/fmi/fmus/scale20RC1/.settings
/ptolemy/actor/lib/fmi/fmus/scale20RC1/src/binaries
/ptolemy/actor/lib/fmi/fmus/scale20RC1pt/.settings
/ptolemy/actor/lib/fmi/fmus/scale20RC1pt/.cproject
/ptolemy/actor/lib/fmi/fmus/scale20RC1pt/.project
/ptolemy/actor/lib/fmi/fmus/scale20RC1pt/src/binaries
/ptolemy/actor/lib/fmi/fmus/stairsA/*.fmu
/ptolemy/actor/lib/fmi/fmus/stairsA20RC1F/*.fmu
/ptolemy/actor/lib/fmi/fmus/stairsA20RC1F/src/binaries
/ptolemy/actor/lib/fmi/fmus/stairsB/*.fmu
/ptolemy/actor/lib/fmi/fmus/stepCounter/stepCounter.fmu
/ptolemy/actor/lib/fmi/fmus/stepCounter/src/binaries
/ptolemy/actor/lib/fmi/fmus/stepCounter1/*.fmu
/ptolemy/actor/lib/fmi/fmus/stepCounter1/src/binaries
/ptolemy/actor/lib/fmi/fmus/stepCounterExtendedFMI/stepCounterExtendedFMI.fmu
/ptolemy/actor/lib/fmi/fmus/stepCounterExtendedFMI/src/binaries
/ptolemy/actor/lib/fmi/fmus/stepCounterPeriodInName/*.fmu
/ptolemy/actor/lib/fmi/fmus/stepCounterPeriodInName/src/binaries
/ptolemy/actor/lib/fmi/fmus/tankOpen/*.fmu
/ptolemy/actor/lib/fmi/fmus/valuesME1/*.fmu
/ptolemy/actor/lib/fmi/fmus/vanDerPolME1/*.fmu
/ptolemy/actor/lib/fmi/ma/.settings
/ptolemy/actor/lib/fmi/ma/.project
/ptolemy/actor/lib/fmi/ma/.cproject
/ptolemy/actor/lib/fmi/ma/inc20RC1.fmu
/ptolemy/actor/lib/fmi/ma/main
/ptolemy/actor/lib/fmi/ma/result.csv
/ptolemy/actor/lib/fmi/ma/result2.csv
/ptolemy/actor/lib/fmi/ma/scale20RC1.fmu
/ptolemy/actor/lib/fmi/ma/shared/list.c
/ptolemy/actor/lib/fmi/ma/shared/list.h
/ptolemy/actor/lib/fmi/test/auto/FMUDq20.csv
/ptolemy/actor/lib/fmi/test/auto/*.fmu
/ptolemy/actor/lib/io/test/emptyDirectory
/ptolemy/actor/lib/io/test/auto/CSVWriterOrderedOut.csv
/ptolemy/actor/lib/jjs/modules/httpServer/demo/KeyValueStoreClient/KeyValueStoreData.txt
/ptolemy/actor/lib/jjs/modules/webSocket/tmp
/ptolemy/actor/lib/security/demo/Signature/ptKeystore
/ptolemy/actor/lib/security/test/foo.keystore
/ptolemy/actor/lib/security/test/auto/foo.keystore
/ptolemy/actor/lib/test/Const.txt
/ptolemy/actor/lib/test/ReadFile1Output.txt
/ptolemy/actor/lib/test/auto/FileWriter1Output.txt
/ptolemy/actor/lib/test/auto/ReadFile1Output.txt
/ptolemy/actor/lib/test/performance/pubSubAgg_*.out
/ptolemy/actor/lib/test/performance/pubSubAgg_*.xml
/ptolemy/actor/lib/test/performance/pubsub*.out
/ptolemy/actor/lib/test/performance/pubsub*.xml
/ptolemy/actor/parameters/test/TestParameterSetModel.txt
/ptolemy/actor/ptalon/bugs/SendAndReceiveCnt/output
/ptolemy/actor/ptalon/demo/MapReduce/*.red
/ptolemy/actor/ptalon/demo/SmallWorld/dataOut*.txt
/ptolemy/actor/ptalon/demo/ptinyos/SendAndReceiveCnt/output
/ptolemy/actor/ptalon/demo/ptinyos/SenseToLeds/output
/ptolemy/actor/ptalon/test/auto/*.red
/ptolemy/apps/websensor/target
/ptolemy/backtrack/test/ptolemy
/ptolemy/cg/t.txt
/ptolemy/cg/adapter/generic/program/t.txt
/ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/Copy of TypedCompositeActor.java
/ptolemy/cg/adapter/generic/program/procedural/c/t.txt
/ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/t.txt
/ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/actor/t.txt
/ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/actor/lib/resultatsTest.txt
/ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/actor/lib/t.txt
/ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/domains/de/kernel/test/_CalendarQueueTest
/ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/domains/ptides/t.txt
/ptolemy/cg/kernel/generic/program/procedural/c/type/test/IntTest
/ptolemy/cg/kernel/generic/program/procedural/java/test/ReadFile1Output.txt
/ptolemy/cg/lib/t.txt
/ptolemy/configs/capecode/capecodeModels.txt
/ptolemy/configs/doc/demosModels.txt
/ptolemy/configs/hyvisual/hyvisualModels.txt
/ptolemy/configs/test/logfile2-1
/ptolemy/configs/viptos/viptosModels.txt
/ptolemy/configs/visualsense/visualsenseModels.txt
/ptolemy/copernicus/applet/cg
/ptolemy/copernicus/applet/test/ptII
/ptolemy/copernicus/applet/test/tmp
/ptolemy/copernicus/interpreted/cg
/ptolemy/copernicus/interpreted/test/codeGenerator.tmp
/ptolemy/copernicus/shallow/cg
/ptolemy/copernicus/shallow/test/codeGenerator.tmp
/ptolemy/copernicus/shallow/test/IIRGUI.CGIIRGUI.jimple
/ptolemy/data/expr/test/dir with space
/ptolemy/data/ontologies/lattice/adapters/unitSystem/domains
/ptolemy/demo/AirManagementSystem/*.fmu
/ptolemy/domains/ddf/lib/index.xml
/ptolemy/domains/pthales/test/Sink.txt
/ptolemy/domains/ptinyos/demo.tar.gz
/ptolemy/domains/ptinyos/demo/CntToLeds/output
/ptolemy/domains/ptinyos/demo/CntToLedsAndRfm/output
/ptolemy/domains/ptinyos/demo/HelloWorld/output
/ptolemy/domains/ptinyos/demo/RfmToLeds/output
/ptolemy/domains/ptinyos/demo/SendAndReceiveCnt/output
/ptolemy/domains/ptinyos/demo/SenseToLeds/output
/ptolemy/domains/ptinyos/demo/Surge/output
/ptolemy/kernel/attributes/test/test.txt
/ptolemy/kernel/doc/codeDoc
/ptolemy/kernel/test/TestSerializable.data
/ptolemy/kernel/util/doc/codeDoc
/ptolemy/matlab/libptmatlab32.jnilib
/ptolemy/matlab/libptmatlab64.jnilib
/ptolemy/matlab/libptmatlab.dylib
/ptolemy/matlab/libptmatlab.jnilib
/ptolemy/matlab/libptmatlab.so
/ptolemy/matlab/ptmatlab.dll
/ptolemy/media/test/array.au
/ptolemy/media/test/tmp2.au
/ptolemy/media/test/tmp2_5.au
/ptolemy/media/test/tmp2_7.au
/ptolemy/media/test/tmp2_8.au
/ptolemy/media/test/tmp2_9.au
/ptolemy/moml/filter/codeDoc
/ptolemy/moml/filter/test/codeDoc
/ptolemy/util/test/FileUtilities-1.1.tmp
/ptolemy/util/test/META-INF
/ptolemy/util/test/junit/javachdir32
/ptolemy/vergil/basic/export/test/junit/persist
/ptserver/output
/ptserver/PtolemyServer.log
/ptserver/PtolemyServerConfig.properties
/vendors/CUnit-*
/vendors/checkstyle-*
/vendors/cobertura-*
/vendors/eclipse
/vendors/findbugs-*
/vendors/gdp
/vendors/giotto
/vendors/iotauth
/vendors/IzPack*
/vendors/izpack
/vendors/launch4j
/vendors/jhdl
/vendors/jsdoc
/vendors/openmpi-*
/vendors/mosquitto-*
/vendors/ptinyos
/vendors/spotbugs-*
/vendors/misc/cobertura-*
/vendors/misc/dbxml-*
/vendors/misc/FuzzyEngine*
/vendors/misc/javacv-bin*
/vendors/misc/powermock-easymock-junit-*
/vendors/misc/rxtx*
/vendors/misc/sphinx4*
/vendors/misc/javamail/
/vendors/misc/joystick/docs
/vendors/misc/joystick/com
/vendors/misc/joystick/mac
/vendors/misc/joystick/linux
/vendors/misc/joystick/win32
/vendors/misc/joystick/runTest.sh
/vendors/misc/joystick/runTest.bat
/vendors/misc/joystick/createDoc.bat
/vendors/misc/joystick/readme.txt
/vendors/misc/joystick/createJar.bat
/vendors/misc/joystick/lib/libjjstick.so
/vendors/misc/joystick/lib/libjjstick.so.0.6
/vendors/misc/joystick/lib/libjjstick.so.0.7
/vendors/misc/joystick/lib/jjstick.dll
/vendors/misc/joystick/lib/libjjstick.so.0
/vendors/oracle/javamail*
/vendors/sun/JMF*
/vendors/sun/javacc-*
/vendors/sun/jogl*
