# NOTE 1: If you want to add any included files, add them explicitly.
# NOTE 2: This file is a performance bottleneck. Git performs a naive scan of all these patterns for all files below this directory, recursively.
#         Only add patterns here that belong to the root directory, or that apply across many subdirectories.
#         Do not add patterns that are specific to a subtree -- those should go in a .gitignore in that subtree's root directory.

# File globs
.*~
*~
*.app
*.class
*.dll
*.dmg
*.DS_Store
*.exe
*.fmu    # NOTE: If FMU files are fine, add them by hand; don't remove this.
*.jar
*.lnk
*.mex*
*.mf
*.out
*.tmp
*._*
\#*
.\#*
.classpath
log.*
/logs
PtolemyII_Digital*.pdf
tmp
__db.*

RTIG.log

# Path Globs
**/test/alljtests.tcl

# Root globs and globs in directories that may not exist in the repository
/.antlr-eclipse
/autom4te.cache
/build
/build.xml
/ChangeLog
/ChangeLog.txt
/codeDoc
/confdefs.h
/config.cache
/config.log
/config.status
/.externalToolBuilders
/.fbprefs
/.fbwarnings
/jar_dist
/jdk
/*.jnlp
/jnlp_manifest.txt
/jnlp_sandbox_manifest.txt
/node_modules
/.project
/package-lock.json
/ptKeystore
/reports
/signed
/src
/svnupdate.txt
/target
/*.xml
/.cproject
/mydir
/.settings/org.eclipse.jdt.ui.prefs
/.settings/org.eclipse.jdt.core.prefs


# /doc/ directories in case someone runs "make docs"
com/cureos/numerics/doc/
com/jgoodies/forms/builder/doc/
com/jgoodies/forms/debug/doc/
com/jgoodies/forms/factories/doc/
com/jgoodies/forms/layout/doc/
com/jgoodies/forms/util/doc/
com/jhlabs/composite/doc/
com/jhlabs/image/doc/
com/jhlabs/image/svg/doc/
com/jhlabs/math/doc/
com/jhlabs/vecmath/doc/
com/microstar/xml/demo/doc/
com/microstar/xml/doc/
contrib/actor/lib/example/doc/
diva/canvas/connector/doc/
diva/canvas/demo/doc/
diva/canvas/doc/
diva/canvas/event/doc/
diva/canvas/interactor/doc/
diva/canvas/test/doc/
diva/canvas/toolbox/doc/
diva/canvas/tutorial/doc/
diva/graph/basic/doc/
diva/graph/doc/
diva/graph/layout/doc/
diva/graph/modular/doc/
diva/graph/test/doc/
diva/graph/toolbox/doc/
diva/graph/tutorial/doc/
diva/gui/doc/
diva/gui/toolbox/doc/
diva/gui/tutorial/doc/
diva/resource/doc/
diva/util/doc/
diva/util/java2d/doc/
diva/util/java2d/test/junit/doc/
diva/util/jester/doc/
diva/util/test/doc/
diva/util/xml/doc/
doc/books/systems/architecture/test/doc/
doc/books/systems/architecture/test/junit/doc/
doc/books/systems/continuous/test/junit/doc/
doc/books/systems/dataflow/test/junit/doc/
doc/books/systems/discreteevents/test/junit/doc/
doc/books/systems/export/test/junit/doc/
doc/books/systems/expressions/test/junit/doc/
doc/books/systems/fsm/test/junit/doc/
doc/books/systems/intro/test/junit/doc/
doc/books/systems/modal/test/junit/doc/
doc/books/systems/modelingtime/test/junit/doc/
doc/books/systems/ontologies/test/junit/doc/
doc/books/systems/plotter/test/junit/doc/
doc/books/systems/pn/test/junit/doc/
doc/books/systems/ptera/test/junit/doc/
doc/books/systems/synchronous/test/junit/doc/
doc/books/systems/types/test/junit/doc/
doc/books/systems/vergil/test/junit/doc/
doc/doclets/doc/
doc/papers/y11/modularSemantics/test/junit/doc/
doc/papers/y12/designContracts/test/junit/doc/
doc/papers/y14/constructive/models/test/junit/doc/
doc/tutorial/doc/
doc/tutorial/domains/doc/
doc/tutorial/graph/doc/
doc/tutorial/graph/junit/doc/
doc/tutorial/gui/doc/
edu/umich/eecs/april/image/doc/
edu/umich/eecs/april/jmat/doc/
edu/umich/eecs/april/jmat/geom/doc/
edu/umich/eecs/april/tag/doc/
edu/umich/eecs/april/util/doc/
junit7733042641513135063.properties
junitvmwatcher5751622279638532263.properties
net/jimblackler/Utils/doc/
org/hlacerti/lib/doc/
org/json/doc/
org/mlc/swing/example/doc/
org/mlc/swing/layout/doc/
org/ptolemy/classloading/doc/
org/ptolemy/classloading/osgi/doc/
org/ptolemy/commons/doc/
org/ptolemy/faultModels/doc/
org/ptolemy/fmi/doc/
org/ptolemy/fmi/driver/doc/
org/ptolemy/fmi/type/doc/
org/ptolemy/machineImprovisation/doc/
org/ptolemy/machineLearning/clustering/doc/
org/ptolemy/machineLearning/doc/
org/ptolemy/machineLearning/hmm/doc/
org/ptolemy/machineLearning/hmmAOM/doc/
org/ptolemy/machineLearning/hsmm/doc/
org/ptolemy/machineLearning/lib/doc/
org/ptolemy/machineLearning/particleFilter/doc/codeDoc/
org/ptolemy/opencv/doc/
org/ptolemy/opencv/test/doc/
org/ptolemy/optimization/doc/codeDoc/
org/ptolemy/optimization/test/junit/doc/
org/ptolemy/osc/doc/
org/ptolemy/ptango/lib/doc/
org/ptolemy/ptango/lib/http/doc/
org/ptolemy/ptango/lib/webSocket/doc/
org/ptolemy/ptango/lib/webSocket/test/junit/doc/
org/ptolemy/ptango/lib/xmpp/doc/
org/ptolemy/ptango/test/junit/doc/
org/ptolemy/qss/doc/
org/ptolemy/qss/solver/doc/
org/ptolemy/qss/util/doc/
org/ptolemy/ssm/doc/
ptdb/common/dto/doc/
ptdb/common/exception/doc/
ptdb/common/util/doc/
ptdb/gui/doc/
ptdb/kernel/bl/load/doc/
ptdb/kernel/bl/migration/doc/
ptdb/kernel/bl/save/doc/
ptdb/kernel/bl/search/doc/
ptdb/kernel/bl/setup/doc/
ptdb/kernel/database/doc/
ptolemy/actor/continuous/doc/
ptolemy/actor/corba/CoordinatorUtil/doc/
ptolemy/actor/corba/CorbaIOUtil/doc/
ptolemy/actor/corba/doc/
ptolemy/actor/corba/util/doc/
ptolemy/actor/doc/
ptolemy/actor/gt/controller/doc/
ptolemy/actor/gt/data/doc/
ptolemy/actor/gt/doc/codeDoc/
ptolemy/actor/gt/gui/doc/
ptolemy/actor/gt/ingredients/criteria/doc/
ptolemy/actor/gt/ingredients/operations/doc/
ptolemy/actor/gt/test/doc/
ptolemy/actor/gt/util/doc/
ptolemy/actor/gui/exec/doc/
ptolemy/actor/gui/jnlp/doc/
ptolemy/actor/gui/properties/doc/
ptolemy/actor/gui/ptjacl/doc/
ptolemy/actor/gui/python/doc/
ptolemy/actor/gui/run/doc/
ptolemy/actor/gui/style/doc/
ptolemy/actor/gui/syntax/doc/
ptolemy/actor/gui/test/doc/
ptolemy/actor/gui/test/junit/doc/
ptolemy/actor/injection/doc/
ptolemy/actor/lib/doc/
ptolemy/actor/parameters/doc/codeDoc/
ptolemy/actor/parameters/test/doc/
ptolemy/actor/process/doc/
ptolemy/actor/process/test/doc/
ptolemy/actor/ptalon/doc/codeDoc/
ptolemy/actor/ptalon/gt/doc/
ptolemy/actor/ptalon/lib/doc/
ptolemy/actor/sched/doc/
ptolemy/actor/test/doc/
ptolemy/actor/util/doc/
ptolemy/actor/util/test/doc/
ptolemy/backtrack/doc/codeDoc/
ptolemy/backtrack/manual/ptolemy/actor/lib/doc/
ptolemy/backtrack/util/doc/
ptolemy/backtrack/xmlparser/doc/
ptolemy/caltrop/actors/doc/
ptolemy/caltrop/ddi/doc/
ptolemy/caltrop/ddi/util/doc/
ptolemy/caltrop/doc/codeDoc/
ptolemy/caltrop/util/doc/
ptolemy/cg/adapter/generic/accessor/adapters/org/terraswarm/accessor/doc/
ptolemy/cg/adapter/generic/accessor/adapters/ptolemy/actor/doc/
ptolemy/cg/adapter/generic/accessor/adapters/ptolemy/actor/lib/jjs/doc/
ptolemy/cg/adapter/generic/adapters/ptolemy/actor/doc/
ptolemy/cg/adapter/generic/html/adapters/ptolemy/actor/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/org/terraswarm/accessor/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/lib/conversions/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/lib/fmi/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/lib/gui/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/lib/hoc/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/lib/jjs/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/lib/logic/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/lib/string/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/actor/sched/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/domains/de/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/domains/giotto/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/domains/modal/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/domains/modal/modal/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/domains/modal/modal/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/domains/sdf/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/domains/sdf/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/adapters/ptolemy/vergil/actor/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/org/terraswarm/accessor/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/actor/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/actor/lib/conversions/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/actor/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/actor/lib/gui/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/actor/lib/logic/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/actor/lib/string/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/cg/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/domains/de/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/domains/de/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/domains/modal/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/domains/modal/modal/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/domains/ptides/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/domains/ptides/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/domains/sdf/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/c/adapters/ptolemy/domains/sdf/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/c/arduino/adapters/ptolemy/actor/lib/gui/doc/
ptolemy/cg/adapter/generic/program/procedural/c/duktape/adapters/org/terraswarm/accessor/doc/
ptolemy/cg/adapter/generic/program/procedural/c/duktape/adapters/ptolemy/actor/lib/gui/doc/
ptolemy/cg/adapter/generic/program/procedural/c/duktape/adapters/ptolemy/actor/lib/jjs/doc/
ptolemy/cg/adapter/generic/program/procedural/c/luminary/adapters/ptolemy/actor/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/c/luminary/adapters/ptolemy/domains/ptides/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/c/luminary/adapters/ptolemy/domains/ptides/lib/luminary/doc/
ptolemy/cg/adapter/generic/program/procedural/c/luminary/adapters/ptolemy/domains/sdf/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/fmima/adapters/ptolemy/actor/doc/
ptolemy/cg/adapter/generic/program/procedural/fmima/adapters/ptolemy/actor/lib/fmi/doc/
ptolemy/cg/adapter/generic/program/procedural/fmimahybrid/adapters/ptolemy/actor/doc/
ptolemy/cg/adapter/generic/program/procedural/fmimahybrid/adapters/ptolemy/actor/lib/fmi/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/actor/lib/colt/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/actor/lib/conversions/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/actor/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/actor/lib/gui/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/actor/lib/jopio/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/actor/lib/logic/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/actor/lib/string/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/cg/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/domains/modal/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/domains/modal/modal/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/domains/sdf/kernel/doc/
ptolemy/cg/adapter/generic/program/procedural/java/adapters/ptolemy/domains/sdf/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/java/modular/adapters/ptolemy/cg/lib/doc/
ptolemy/cg/adapter/generic/program/procedural/java/modular/adapters/ptolemy/domains/sdf/kernel/doc/
ptolemy/cg/gui/doc/
ptolemy/cg/kernel/generic/accessor/doc/
ptolemy/cg/kernel/generic/doc/
ptolemy/cg/kernel/generic/html/doc/
ptolemy/cg/kernel/generic/program/doc/
ptolemy/cg/kernel/generic/program/procedural/c/doc/
ptolemy/cg/kernel/generic/program/procedural/c/ptidyos/doc/
ptolemy/cg/kernel/generic/program/procedural/doc/
ptolemy/cg/kernel/generic/program/procedural/fmima/doc/
ptolemy/cg/kernel/generic/program/procedural/java/doc/
ptolemy/cg/kernel/generic/program/procedural/java/modular/doc/
ptolemy/cg/kernel/generic/program/procedural/java/test/doc/
ptolemy/cg/kernel/generic/program/procedural/java/type/doc/
ptolemy/cg/kernel/generic/syntactic/doc/
ptolemy/cg/kernel/generic/test/actor/doc/
ptolemy/cg/kernel/generic/test/doc/
ptolemy/cg/lib/doc/
ptolemy/cg/lib/syntactic/doc/
ptolemy/chic/doc/
ptolemy/component/doc/
ptolemy/component/domains/ptinyos/doc/
ptolemy/component/test/doc/
ptolemy/configs/test/doc/
ptolemy/copernicus/applet/doc/
ptolemy/copernicus/gui/doc/
ptolemy/copernicus/interpreted/doc/
ptolemy/copernicus/kernel/doc/
ptolemy/copernicus/shallow/doc/
ptolemy/data/doc/
ptolemy/data/expr/doc/
ptolemy/data/ontologies/doc/codeDoc/
ptolemy/data/ontologies/gui/doc/
ptolemy/data/ontologies/lattice/adapters/abstractInterpretation/data/expr/doc/
ptolemy/data/ontologies/lattice/adapters/constAbsIntObservable/data/expr/doc/
ptolemy/data/ontologies/lattice/adapters/constAbstractInterpretation/data/expr/doc/
ptolemy/data/ontologies/lattice/adapters/constPropagation/data/expr/doc/
ptolemy/data/ontologies/lattice/adapters/constPropagation/doc/
ptolemy/data/ontologies/lattice/adapters/constPropagationAbsInt/data/expr/doc/
ptolemy/data/ontologies/lattice/adapters/constPropagationAbsInt/doc/
ptolemy/data/ontologies/lattice/adapters/defaultAdapters/actor/lib/doc/
ptolemy/data/ontologies/lattice/adapters/defaultAdapters/actor/lib/gui/doc/
ptolemy/data/ontologies/lattice/adapters/defaultAdapters/data/expr/doc/
ptolemy/data/ontologies/lattice/adapters/defaultAdapters/domains/ontologies/lib/doc/
ptolemy/data/ontologies/lattice/adapters/monotonicityAnalysis/actor/lib/doc/
ptolemy/data/ontologies/lattice/adapters/monotonicityAnalysis/data/expr/doc/
ptolemy/data/ontologies/lattice/adapters/monotonicityAnalysis/doc/
ptolemy/data/ontologies/lattice/doc/
ptolemy/data/ontologies/lattice/unit/doc/
ptolemy/data/test/doc/
ptolemy/data/type/doc/
ptolemy/data/type/test/doc/
ptolemy/data/unit/doc/
ptolemy/distributed/actor/doc/
ptolemy/distributed/actor/lib/doc/
ptolemy/distributed/client/doc/
ptolemy/distributed/common/doc/
ptolemy/distributed/domains/sdf/kernel/doc/
ptolemy/distributed/rmi/doc/
ptolemy/distributed/util/doc/
ptolemy/domains/algebraic/kernel/doc/
ptolemy/domains/atc/kernel/doc/
ptolemy/domains/atc/kernel/policy1/doc/
ptolemy/domains/atc/kernel/policy2/doc/
ptolemy/domains/atc/lib/doc/
ptolemy/domains/ca/kernel/doc/
ptolemy/domains/ca/lib/doc/
ptolemy/domains/ca/lib/gui/doc/
ptolemy/domains/ci/demo/Router/doc/
ptolemy/domains/ci/kernel/doc/
ptolemy/domains/ci/lib/doc/
ptolemy/domains/continuous/kernel/doc/
ptolemy/domains/continuous/kernel/solver/doc/
ptolemy/domains/continuous/lib/doc/
ptolemy/domains/coroutine/kernel/doc/
ptolemy/domains/coroutine/lib/doc/
ptolemy/domains/csp/demo/BusContention/doc/
ptolemy/domains/csp/demo/DiningPhilosophers/checkDeadlock/doc/
ptolemy/domains/csp/demo/DiningPhilosophers/doc/
ptolemy/domains/csp/kernel/doc/
ptolemy/domains/csp/kernel/test/doc/
ptolemy/domains/csp/lib/doc/
ptolemy/domains/curriculum/doc/
ptolemy/domains/dde/demo/HelloWorld/doc/
ptolemy/domains/dde/demo/LocalZeno/doc/
ptolemy/domains/dde/kernel/doc/
ptolemy/domains/dde/kernel/test/doc/
ptolemy/domains/dde/lib/doc/
ptolemy/domains/ddf/kernel/doc/
ptolemy/domains/ddf/lib/doc/
ptolemy/domains/de/demo/SmartSender/doc/
ptolemy/domains/de/kernel/doc/
ptolemy/domains/de/lib/aspect/doc/
ptolemy/domains/de/lib/doc/
ptolemy/domains/de/lib/test/doc/
ptolemy/domains/de/test/doc/
ptolemy/domains/dt/kernel/doc/
ptolemy/domains/dt/kernel/test/doc/
ptolemy/domains/fmima/kernel/doc/
ptolemy/domains/giotto/cgc/doc/
ptolemy/domains/giotto/kernel/doc/
ptolemy/domains/gr/kernel/doc/
ptolemy/domains/gr/lib/doc/
ptolemy/domains/hdf/kernel/doc/
ptolemy/domains/metroII/gui/doc/
ptolemy/domains/metroII/kernel/doc/
ptolemy/domains/metroII/kernel/util/ProtoBuf/doc/
ptolemy/domains/modal/kernel/doc/
ptolemy/domains/modal/kernel/fmv/doc/
ptolemy/domains/modal/kernel/ia/doc/
ptolemy/domains/modal/kernel/test/doc/
ptolemy/domains/modal/modal/doc/
ptolemy/domains/ontologies/lib/doc/
ptolemy/domains/petrinet/kernel/doc/
ptolemy/domains/petrinet/lib/doc/
ptolemy/domains/petrinet/lib/gui/doc/
ptolemy/domains/pn/demo/QR/doc/
ptolemy/domains/pn/kernel/doc/
ptolemy/domains/pn/kernel/event/doc/
ptolemy/domains/pn/kernel/event/test/doc/
ptolemy/domains/pn/kernel/test/doc/
ptolemy/domains/pn/lib/doc/
ptolemy/domains/psdf/kernel/doc/
ptolemy/domains/ptera/kernel/doc/
ptolemy/domains/ptera/lib/doc/
ptolemy/domains/pthales/JNI/doc/
ptolemy/domains/pthales/kernel/doc/
ptolemy/domains/pthales/lib/doc/
ptolemy/domains/ptides/demo/TTE/doc/
ptolemy/domains/ptides/kernel/doc/
ptolemy/domains/ptides/kernel/test/junit/doc/
ptolemy/domains/ptides/lib/doc/
ptolemy/domains/ptides/lib/luminary/doc/
ptolemy/domains/ptides/lib/qm/doc/
ptolemy/domains/ptinyos/gui/doc/
ptolemy/domains/ptinyos/kernel/doc/
ptolemy/domains/ptinyos/kernel/test/doc/
ptolemy/domains/ptinyos/lib/doc/
ptolemy/domains/qss/kernel/doc/
ptolemy/domains/qss/lib/doc/
ptolemy/domains/qss/test/doc/
ptolemy/domains/rendezvous/kernel/doc/
ptolemy/domains/rendezvous/kernel/test/doc/
ptolemy/domains/rendezvous/lib/doc/
ptolemy/domains/scr/doc/codeDoc/
ptolemy/domains/sdf/demo/Butterfly/doc/
ptolemy/domains/sdf/demo/HTVQ/doc/
ptolemy/domains/sdf/demo/OrthogonalCom/doc/
ptolemy/domains/sdf/demo/Sketch/doc/
ptolemy/domains/sdf/kernel/doc/
ptolemy/domains/sdf/kernel/test/doc/
ptolemy/domains/sdf/lib/doc/
ptolemy/domains/sdf/optimize/doc/
ptolemy/domains/sdf/optimize/lib/doc/
ptolemy/domains/sequence/gui/doc/
ptolemy/domains/sequence/kernel/doc/
ptolemy/domains/sequence/lib/doc/
ptolemy/domains/space/doc/codeDoc/
ptolemy/domains/sr/kernel/doc/
ptolemy/domains/sr/lib/doc/
ptolemy/domains/sr/lib/gui/doc/
ptolemy/domains/sysml/kernel/doc/
ptolemy/domains/taskpt/kernel/doc/
ptolemy/domains/taskpt/lib/doc/
ptolemy/domains/taskpt/lib/gui/doc/
ptolemy/domains/tcs/kernel/doc/
ptolemy/domains/tcs/lib/doc/
ptolemy/domains/tdl/kernel/doc/
ptolemy/domains/tester/kernel/doc/
ptolemy/domains/tester/lib/doc/
ptolemy/domains/tm/kernel/doc/
ptolemy/domains/tm/kernel/test/doc/
ptolemy/domains/tm/lib/doc/
ptolemy/domains/wireless/demo/EvaderAndPursuer/doc/
ptolemy/domains/wireless/demo/SmallWorld/doc/
ptolemy/domains/wireless/demo/SmartParking/doc/
ptolemy/domains/wireless/kernel/doc/
ptolemy/domains/wireless/lib/bluetooth/doc/
ptolemy/domains/wireless/lib/doc/
ptolemy/domains/wireless/lib/network/doc/
ptolemy/domains/wireless/lib/network/mac/doc/
ptolemy/domains/wireless/lib/tinyOS/doc/
ptolemy/graph/analysis/analyzer/doc/
ptolemy/graph/analysis/doc/
ptolemy/graph/analysis/strategy/doc/
ptolemy/graph/doc/
ptolemy/graph/mapping/doc/
ptolemy/graph/sched/doc/
ptolemy/graph/test/doc/
ptolemy/gui/demo/doc/
ptolemy/gui/doc/
ptolemy/gui/test/doc/
ptolemy/homer/doc/
ptolemy/homer/events/doc/
ptolemy/homer/gui/doc/
ptolemy/homer/kernel/doc/
ptolemy/homer/test/junit/doc/
ptolemy/homer/widgets/doc/
ptolemy/math/doc/
ptolemy/matlab/doc/
ptolemy/matlab/test/doc/
ptolemy/media/doc/
ptolemy/moml/doc/
ptolemy/moml/filter/doc/
ptolemy/moml/filter/test/doc/
ptolemy/moml/test/doc/
ptolemy/moml/unit/doc/
ptolemy/plot/compat/doc/
ptolemy/plot/demo/doc/
ptolemy/plot/doc/codeDoc/
ptolemy/plot/plotml/doc/
ptolemy/util/doc/
ptolemy/util/test/doc/
ptolemy/util/test/junit/doc/
ptolemy/vergil/actor/doc/
ptolemy/vergil/actor/lib/doc/
ptolemy/vergil/basic/doc/codeDoc/
ptolemy/vergil/basic/export/doc/
ptolemy/vergil/basic/export/html/doc/codeDoc/
ptolemy/vergil/basic/export/html/jsoup/doc/
ptolemy/vergil/basic/export/html/jsoup/test/junit/doc/
ptolemy/vergil/basic/export/html/test/junit/doc/
ptolemy/vergil/basic/export/itextpdf/doc/
ptolemy/vergil/basic/export/test/junit/doc/
ptolemy/vergil/basic/export/web/doc/
ptolemy/vergil/basic/imprt/accessor/doc/
ptolemy/vergil/basic/imprt/fmu/doc/
ptolemy/vergil/basic/imprt/g4ltl/doc/
ptolemy/vergil/basic/imprt/g4ltl/test/junit/doc/
ptolemy/vergil/basic/layout/doc/
ptolemy/vergil/basic/layout/kieler/doc/
ptolemy/vergil/basic/layout/kieler/test/junit/doc/
ptolemy/vergil/basic/test/junit/doc/
ptolemy/vergil/debugger/doc/
ptolemy/vergil/doc/codeDoc/
ptolemy/vergil/gt/doc/
ptolemy/vergil/icon/doc/
ptolemy/vergil/kernel/attributes/doc/
ptolemy/vergil/kernel/doc/
ptolemy/vergil/modal/doc/
ptolemy/vergil/modal/fmv/doc/
ptolemy/vergil/modal/ia/doc/
ptolemy/vergil/modal/modal/doc/
ptolemy/vergil/ontologies/doc/
ptolemy/vergil/pdfrenderer/doc/
ptolemy/vergil/ptera/doc/
ptolemy/vergil/scr/doc/
ptolemy/vergil/tdl/doc/
ptolemy/vergil/toolbox/doc/
ptolemy/vergil/tree/doc/
ptolemy/vergil/unit/doc/
ptolemy/verification/gui/doc/
ptolemy/verification/kernel/doc/
ptolemy/verification/kernel/maude/doc/
ptolemy/verification/lib/doc/
ptserver/actor/doc/
ptserver/actor/lib/io/doc/
ptserver/actor/lib/tld/doc/
ptserver/communication/doc/
ptserver/control/doc/
ptserver/data/doc/
ptserver/data/handler/doc/
ptserver/test/doc/
ptserver/test/junit/doc/
ptserver/util/doc/
thales/actor/gui/doc/
thales/vergil/doc/
thales/vergil/navigable/doc/
util/testsuite/doc/
vendors/node/
/eclipse/
