# NOTE 1: If you want to add any included files, add them explicitly.
# NOTE 2: This file is a performance bottleneck. Git performs a naive scan of all these patterns for all files below this directory, recursively.
#         Only add patterns here that belong to the root directory, or that apply across many subdirectories.
#         Do not add patterns that are specific to a subtree -- those should go in a .gitignore in that subtree's root directory.

# File globs
.*~
*~
*.app
*.class
*.dll
*.dmg
*.DS_Store
*.exe
*.fmu    # NOTE: If FMU files are fine, add them by hand; don't remove this.
*.jar
*.lnk
*.mex*
*.mf
*.out
*.tmp
*._*
\#*
.\#*
.classpath
log.*
/logs
PtolemyII_Digital*.pdf
tmp
__db.*

# Path Globs
**/test/alljtests.tcl

# Root globs and globs in directories that may not exist in the repository
/.antlr-eclipse
/autom4te.cache
/build
/build.xml
/ChangeLog
/ChangeLog.txt
/codeDoc
/confdefs.h
/config.cache
/config.log
/config.status
/.externalToolBuilders
/.fbprefs
/.fbwarnings
/jar_dist
/jdk
/*.jnlp
/jnlp_manifest.txt
/jnlp_sandbox_manifest.txt
/node_modules
/.project
/ptKeystore
/reports
/signed
/src
/svnupdate.txt
/target
/*.xml
/.cproject
/mydir
/.settings/org.eclipse.jdt.ui.prefs
/.settings/org.eclipse.jdt.core.prefs
