/dists
/ant/
/dists/ptII*
/gen-11.0/capeCodeNonGUI*.tar.gz
/gen-11.0/jre
/gen-11.0/jre32
/gen-11.0/jre64
/gen-11.0/capecode*.app
/gen-11.0/capecode*.src.tar
/gen-11.0/capecode*.tar
/gen-11.0/capecode*.tar.gz
/gen-11.0/capecode*.xml
/gen-11.0/capecode*.zip
/gen-11.0/capeCode*.app
/gen-11.0/capeCode*.src.tar
/gen-11.0/capeCode*.tar
/gen-11.0/capeCode*.tar.gz
/gen-11.0/capeCode*.xml
/gen-11.0/capeCode*.zip
/gen-11.0/MacJVM.tar
/gen-11.0/node
/gen-11.0/ptII*.app
/gen-11.0/ptII*.src.tar
/gen-11.0/ptII*.tar
/gen-11.0/ptII*.tar.gz
/gen-11.0/ptII*.xml
/gen-11.0/ptII*.zip
/gen-11.0/src
/gen-11.0/src_jar
/gen-11.0/test
/logs/ptIInightly.txt
/logs/ptIInightly.txt.[0-9]
/logs/ptIInightly.txt.1[0-9]
/logs/ptIInightly_mail.txt
/logs/ptIInightly.htm
