/t.txt
/adapter/generic/program/t.txt
/adapter/generic/program/procedural/adapters/ptolemy/actor/Copy of TypedCompositeActor.java
/adapter/generic/program/procedural/c/t.txt
/adapter/generic/program/procedural/c/adapters/ptolemy/t.txt
/adapter/generic/program/procedural/c/adapters/ptolemy/actor/t.txt
/adapter/generic/program/procedural/c/adapters/ptolemy/actor/lib/resultatsTest.txt
/adapter/generic/program/procedural/c/adapters/ptolemy/actor/lib/t.txt
/adapter/generic/program/procedural/c/adapters/ptolemy/domains/de/kernel/test/_CalendarQueueTest
/adapter/generic/program/procedural/c/adapters/ptolemy/domains/ptides/t.txt
/kernel/generic/program/procedural/c/type/test/IntTest
/kernel/generic/program/procedural/java/test/ReadFile1Output.txt
/lib/t.txt
