<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
 
  	<display-name> Websensor </display-name> 

	<!-- Location of the file defining the Spring beans -->
	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/websensor-servlet.xml</param-value>
	</context-param>
	
	<!--  The ContextLoadListner loads the beans -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- The Dispatcher servlet receives http requests and distributes them to
	     the correct controller -->
     <servlet>
        <servlet-name>websensor</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- Instructs the Dispatcher servlet to intercept requests for any 
    	 websensor URL.  (Other options are e.g. /*.html or /*.jsp or 
    	 similar  
    	 **Note - see websensor-servlet for mapping of a handler for static
    	 resources such as .js files or images -->    	 
    <servlet-mapping>
    	<servlet-name>websensor</servlet-name> 
    	<url-pattern>/ </url-pattern> 
  	</servlet-mapping>
  
  	
  	<!-- The welcome file that shows for the base URL, e.g.
  	     http://localhost:8080/websensor will return this file 
  	     FIXME:  Currently not working! -->
  	<welcome-file-list>
  		<welcome-file> index.jsp </welcome-file>
  	</welcome-file-list>
  	  
</web-app>
