import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import com.sun.jini.config.ConfigUtil;
import net.jini.core.discovery.LookupLocator;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import net.jini.discovery.LookupDiscovery;
import java.io.File;

ClientServerInteractionManager {


    codebase = "http://kom.auc.dk/~kapokasa/jini/";
    
    exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
                                     new BasicILFactory()); 

    /* Groups to join
     * Could be e.g.
     *     groups  = new String[] {"admin", "sales"};
     */
    groups = new String[] {};

    /* Unicast lookup services
     */
    unicastLocators = new LookupLocator[] { //new LookupLocator("jini://kayak10.kom.auc.dk")
                                          };	
    /* Entries
     */ 
    entries = new Entry[] {new Name("Daniel Lazaro Cuadrado (kapokasa@kom.aau.dk)"),
 	                       new Comment("Distributed Ptolemy")
	                   };

    /* The service
     */
    service = new ptolemy.distributed.rmi.DistributedActorWrapper();

}
