/apps/websensor/target
/backtrack/test/ptolemy
/configs/capecode/capecodeModels.txt
/configs/doc/demosModels.txt
/configs/hyvisual/hyvisualModels.txt
/configs/test/logfile2-1
/configs/viptos/viptosModels.txt
/configs/visualsense/visualsenseModels.txt
/copernicus/applet/cg
/copernicus/applet/test/ptII
/copernicus/interpreted/cg
/copernicus/shallow/cg
/copernicus/shallow/test/IIRGUI.CGIIRGUI.jimple
/data/expr/test/dir with space
/data/ontologies/lattice/adapters/unitSystem/domains
/kernel/attributes/test/test.txt
/kernel/doc/codeDoc
/kernel/test/TestSerializable.data
/kernel/util/doc/codeDoc
/matlab/libptmatlab32.jnilib
/matlab/libptmatlab64.jnilib
/matlab/libptmatlab.dylib
/matlab/libptmatlab.jnilib
/matlab/libptmatlab.so
/media/test/array.au
/media/test/tmp*.au
/moml/filter/codeDoc
/moml/filter/test/codeDoc
/util/test/META-INF
/util/test/junit/javachdir32
/vergil/basic/export/test/junit/persist
