/* Berkeley styling for full-screen and mobile-size pages.  
   This could be split into two files for faster loading. */


/* Mobile styling */

/* Need the [data-role="header"] to make this selector more specific than 
   the selectors used in the default jQuery css styling (which we use some of).
   Selectors are applied least-specific to most-specific 
   */

*[data-role="header"], *[data-role="footer"] {
	border: 1px solid #667396 /*{b-bar-border}*/;
	color: #ffffff /*{b-bar-color}*/;
}

*[data-role="header"] {
	font-weight: bold;
	
	/* Copied from UCB style guidelines  http://www.berkeley.edu/webstyle/ */ 
	width: 100%;
	background-color:#2a2f60;
	background-image:url(banr2.jpg);
	background-repeat: no-repeat;
	position:relative;
	text-align:left;
	
}

*[data-role="header"] img {
	float: right;
}

*[data-role="header"] a:link {
	color: #ffffff;
}

*[data-role="header"] a:visited {
	color: #a1bdd5;
}

*[data-role="header"] h1 {
	position: relative;
	top: 0px;
	left: 10px;
	height: 39px;
}

*[data-role="footer"] {
	background: #2a2f60;
	font-weight: normal;
	text-shadow: 0 /*{b-body-shadow-x}*/ 0px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/;
	padding-left: 4px;
	padding-right: 4px;
}


