<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--

Copyright (c) 1995-2017 The Regents of the University of California, iSencia Belgium NV.
All rights reserved. This program and the accompanying materials
are made available under the Ptolemy II copyright.

Contributors: Christopher Brooks & Erwin De Ley

See about.html in this plugin
See ptolemy/configs/basicActorLibrary.xml
See https://wiki.eclipse.org/Triquetrum/Extending_Triquetrum
-->

<plugin>
  <extension
      name="Default Ptolemy II actors for the Triquetrum editor palette"
      point="org.eclipse.triquetrum.workflow.editor.paletteContribution">

    <group displayName="Sources" priority="800">
      <group displayName="Generic Sources" priority="800">
        <entry
            class="ptolemy.actor.lib.Const"
            displayName="Const"
            icon="icons/ConstIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.StringConst"
            displayName="StringConstant"
            icon="icons/StringConstIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
      </group>
      <group displayName="Timed Sources" priority="600">
        <entry
            class="ptolemy.actor.lib.CurrentDate"
            displayName="CurrentDate"
            icon="icons/CurrentDateIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.CurrentMicrostep"
            displayName="CurrentMicrostep"
            icon="icons/CurrentMicrostepIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.CurrentTime"
            displayName="CurrentTime"
            icon="icons/CurrentTimeIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.DiscreteClock"
            displayName="DiscreteClock"
            icon="icons/DiscreteClockIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.MicrostepDelay"
            displayName="MicrostepDelay"
            icon="icons/MicrostepDelayIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.PoissonClock"
            displayName="PoissonClock"
            icon="icons/PoissonClockIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
      </group>
      <group displayName="Sequence Sources" priority="400">
        <entry
            class="ptolemy.actor.lib.Ramp"
            displayName="Ramp"
            icon="icons/RampIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Pulse"
            displayName="Pulse"
            icon="icons/PulseIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Sequence"
            displayName="Sequence"
            icon="icons/SequenceIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Sinewave"
            displayName="Sinewave"
            icon="icons/SinewaveIcon.xml"
            iconType="ptolemy"
            type="CompositeActor">
        </entry>
      </group>
    </group>
    <group displayName="Sinks" priority="700">
      <group displayName="Generic Sinks" priority="700">
        <entry
            class="ptolemy.actor.lib.Discard"
            displayName="Discard"
            icon="icons/DiscardIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.gui.Display"
            displayName="Display"
            icon="icons/DisplayIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Recorder"
            displayName="Recorder"
            icon="icons/DefaultActorIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.SetVariable"
            displayName="SetVariable"
            icon="icons/DefaultActorIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
      </group>
    </group>
    <group displayName="Array" priority="700">
      <entry
          class="ptolemy.actor.lib.ArrayAccumulate"
          displayName="ArrayAccumulate"
          icon="icons/ArrayAccumulateIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayAppend"
          displayName="ArrayAppend"
          icon="icons/ArrayAppendIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayAverage"
          displayName="ArrayAverage"
          icon="icons/ArrayAverageIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayContains"
          displayName="ArrayContains"
          icon="icons/ArrayContainsIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayElement"
          displayName="ArrayElement"
          icon="icons/ArrayElementIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayElementAsMatrix"
          displayName="ArrayElementAsMatrix"
          icon="icons/ArrayElementAsMatrixIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayExtract"
          displayName="ArrayExtract"
          icon="icons/ArrayExtractIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayLength"
          displayName="ArrayLength"
          icon="icons/ArrayLengthIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayLevelCrossing"
          displayName="ArrayLevelCrossing"
          icon="icons/ArrayLevelCrossingIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayMaximum"
          displayName="ArrayMaximum"
          icon="icons/ArrayMaximumIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayMinimum"
          displayName="ArrayMinimum"
          icon="icons/ArrayMinimumIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayPeakSearch"
          displayName="ArrayPeakSearch"
          icon="icons/ArrayPeakSearchIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayRemoveElement"
          displayName="ArrayRemoveElement"
          icon="icons/ArrayRemoveElementIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArraySort"
          displayName="ArraySort"
          icon="icons/ArraySortIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArraySum"
          displayName="ArraySum"
          icon="icons/ArraySumIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayToElements"
          displayName="ArrayToElements"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayToMatrix"
          displayName="ArrayToMatrix"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ArrayUpdate"
          displayName="ArrayUpdate"
          icon="icons/ArrayUpdateIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ElementsToArray"
          displayName="ElementsToArray"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
    </group>
    <group displayName="Conversions" priority="800">
      <entry
          class="ptolemy.actor.lib.conversions.AnythingToDouble"
          displayName="AnythingToDouble"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.BooleanToAnything"
          displayName="BooleanToAnything"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.CartesianToComplex"
          displayName="CartesianToComplex"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.CartesianToPolar"
          displayName="CartesianToPolar"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.ComplexToCartesian"
          displayName="ComplexToCartesian"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.ComplexToPolar"
          displayName="ComplexToPolar"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.Converter"
          displayName="Converter"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.DateToString"
          displayName="DateToString"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.DoubleToFix"
          displayName="DoubleToFix"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.ExpressionToToken"
          displayName="ExpressionToToken"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.FixToDouble"
          displayName="FixToDouble"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.FixToFix"
          displayName="FixToFix"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.ImageToString"
          displayName="ImageToString"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>

      <entry
          class="ptolemy.actor.lib.conversions.InUnitsOf"
          displayName="InUnitsOf"
          icon="icons/InUnitsOfIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.IntArrayToString"
          displayName="IntArrayToString"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.LongToDouble"
          displayName="LongToDouble"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.PolarToCartesian"
          displayName="PolarToCartesian"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.PolarToComplex"
          displayName="PolarToComplex"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.Round"
          displayName="Round"
          icon="icons/RoundIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.SmoothToDouble"
          displayName="SmoothToDouble"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.StringToBoolean"
          displayName="StringToBoolean"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.StringToDate"
          displayName="StringToDate"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.StringToDouble"
          displayName="StringToDouble"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.StringToInt"
          displayName="StringToInt"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.StringToIntArray"
          displayName="StringToIntArray"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.StringToUnsignedByteArray"
          displayName="StringToUnsignedByteArray"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.StringToXML"
          displayName="StringToXML"
          icon="icons/DefaultActorIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.TokenToExpression"
          displayName="TokenToExpression"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.conversions.UnsignedByteArrayToString"
          displayName="UnsignedByteArrayToString"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
    </group>
    <group displayName="Data Stores" priority="500">
      <entry
          class="ptolemy.actor.lib.Dictionary"
          displayName="Dictionary"
          icon="icons/DictionaryIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
    </group>
    <group displayName="Flow control" priority="500">
      <group displayName="Aggregators" priority="500">
        <entry
            class="ptolemy.actor.lib.BusAssembler"
            displayName="BusAssembler"
            icon="icons/BusAssemblerIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.BusDisassembler"
            displayName="BusDisassembler"
            icon="icons/BusDisassemblerIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Commutator"
            displayName="Commutator"
            icon="icons/CommutatorIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Distributor"
            displayName="Distributor"
            icon="icons/DistributorIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Multiplexor"
            displayName="Multiplexor"
            icon="icons/MultiplexorIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.OrderedRecordAssembler"
            displayName="OrderedRecordAssembler"
            icon="icons/OrderedRecordAssemblerIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.RecordAssembler"
            displayName="RecordAssembler"
            icon="icons/RecordAssemblerIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.RecordDisassembler"
            displayName="RecordDisassembler"
            icon="icons/RecordDisassemblerIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.RecordUpdater"
            displayName="RecordUpdater"
            icon="icons/RecordUpdaterIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Sampler"
            displayName="Sampler"
            icon="icons/SamplerIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Select"
            displayName="Select"
            icon="icons/SelectIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.SingleTokenCommutator"
            displayName="SingleTokenCommutator"
            icon="icons/DefaultActorIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Switch"
            displayName="Switch"
            icon="icons/SwitchIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Synchronizer"
            displayName="Synchronizer"
            icon="icons/SynchronizerIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.UnionDisassembler"
            displayName="UnionDisassembler"
            icon="icons/UnionDisassemblerIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.UnionMerge"
            displayName="UnionMerge"
            icon="icons/UnionMergeIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.VectorAssembler"
            displayName="VectorAssembler"
            icon="icons/VectorAssemblerIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.VectorDisassembler"
            displayName="VectorDisassembler"
            icon="icons/VectorDisassemblerIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
      </group>
      <group displayName="Boolean Flow Control" priority="500">
        <entry
            class="ptolemy.actor.lib.BooleanMultiplexor"
            displayName="BooleanMultiplexor"
            icon="icons/BooleanMultiplexorIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.BooleanSelect"
            displayName="BooleanSelect"
            icon="icons/BooleanSelectIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.BooleanSwitch"
            displayName="BooleanSwitch"
            icon="icons/BooleanSwitchIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.ConfigurationSelect"
            displayName="ConfigurationSelect"
            icon="icons/ConfigurationSelectIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.ConfigurationSwitch"
            displayName="ConfigurationSwitch"
            icon="icons/ConfigurationSwitchIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
      </group>
      <group displayName="Sequence Control" priority="500">
        <entry
            class="ptolemy.actor.lib.Default"
            displayName="Default"
            icon="icons/DefaultIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Sequencer"
            displayName="Sequencer"
            icon="icons/SequencerIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
      </group>
      <group displayName="Execution Control" priority="500">
        <entry
            class="ptolemy.actor.lib.CatchExceptionAttribute"
            displayName="CatchExceptionAttribute"
            icon="icons/DefaultActorIcon.svg"
            iconType="svg"
            type="Parameter">
        </entry>
        <entry
            class="ptolemy.actor.lib.Exit"
            displayName="Exit"
            icon="icons/DefaultActorIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Pause"
            displayName="Pause"
            icon="icons/PauseIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Stop"
            displayName="Stop"
            icon="icons/StopIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.ThrowException"
            displayName="ThrowException"
            icon="icons/DefaultActorIcon.svg"
            iconType="svg"
            type="Parameter">
        </entry>
        <entry
            class="ptolemy.actor.lib.ThrowModelError"
            displayName="ThrowModelError"
            icon="icons/DefaultActorIcon.svg"
            iconType="svg"
            type="Parameter">
        </entry>
      </group>
    </group>
    <group displayName="IO">
      <entry
          class="ptolemy.actor.lib.io.CSVReader"
          displayName="CSVReader"
          icon="icons/CSVReaderIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.io.CSVWriter"
          displayName="CSVWriter"
          icon="icons/CSVWriterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.io.DirectoryListing"
          displayName="DirectoryListing"
          icon="icons/DirectoryListingIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.io.FileReader"
          displayName="FileReader"
          icon="icons/FileReaderIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.io.LineReader"
          displayName="LineReader"
          icon="icons/LineReaderIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.io.LineWriter"
          displayName="LineWriter"
          icon="icons/LineWriterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
    </group>
    <group displayName="Logic" priority="300">
      <entry
          class="ptolemy.actor.lib.logic.Comparator"
          displayName="Comparator"
          icon="icons/ComparatorIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.logic.Equals"
          displayName="Equals"
          icon="icons/EqualsIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.logic.IsPresent"
          displayName="IsPresent"
          icon="icons/IsPresentIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.logic.LogicGate"
          displayName="LogicGate"
          icon="icons/LogicGateIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.logic.LogicalNot"
          displayName="LogicalNot"
          icon="icons/LogicalNotIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.logic.TrueGate"
          displayName="TrueGate"
          icon="icons/TrueGateIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
    </group>
    <group displayName="Math" priority="300">
      <entry
          class="ptolemy.actor.lib.AbsoluteValue"
          displayName="AbsoluteValue"
          icon="icons/AbsoluteValueIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Accumulator"
          displayName="Accumulator"
          icon="icons/AccumulatorIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.AddSubtract"
          displayName="AddSubtract"
          icon="icons/AddSubtractIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Average"
          displayName="Average"
          icon="icons/AverageIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Counter"
          displayName="Counter"
          icon="icons/CounterIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Differential"
          displayName="Differential"
          icon="icons/DifferentialIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Expression"
          displayName="Expression"
          icon="icons/ExpressionIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Limiter"
          displayName="Limiter"
          icon="icons/LimiterIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.LookupTable"
          displayName="LookupTable"
          icon="icons/LookupTableIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Maximum"
          displayName="Maximum"
          icon="icons/MaximumIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Minimum"
          displayName="Minimum"
          icon="icons/MinimumIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.MovingAverage"
          displayName="MovingAverage"
          icon="icons/MovingAverageIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.MultiplyDivide"
          displayName="MultiplyDivide"
          icon="icons/MultiplyDivideIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Quantizer"
          displayName="Quantizer"
          icon="icons/QuantizerIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Remainder"
          displayName="Remainder"
          icon="icons/RemainderIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.RunningMaximum"
          displayName="RunningMaximum"
          icon="icons/RunningMaximumIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.RunningMinimum"
          displayName="RunningMinimum"
          icon="icons/RunningMinimumIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Scale"
          displayName="Scale"
          icon="icons/ScaleIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.TrigFunction"
          displayName="TrigFunction"
          icon="icons/TrigFunctionIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.UnaryMathFunction"
          displayName="UnaryMathFunction"
          icon="icons/UnaryMathFunctionIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
    </group>
    <group displayName="Matrix" priority="300">
      <entry
          class="ptolemy.actor.lib.ArrayToMatrix"
          displayName="ArrayToMatrix"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.MatrixToArray"
          displayName="MatrixToArray"
          icon="icons/ConverterIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.SubMatrix"
          displayName="SubMatrix"
          icon="icons/DefaultActorIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
    </group>
    <group displayName="Random" priority="300">
      <entry
          class="ptolemy.actor.lib.Bernoulli"
          displayName="Bernoulli"
          icon="icons/BernoulliIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.DiscreteRandomSource"
          displayName="DiscreteRandomSource"
          icon="icons/DiscreteRandomSourceIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Gaussian"
          displayName="Gaussian"
          icon="icons/GaussianIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.RandomInteger"
          displayName="RandomInteger"
          icon="icons/RandomIntegerIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Rician"
          displayName="Rician"
          icon="icons/RicianIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Triangular"
          displayName="Triangular"
          icon="icons/TriangularIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Uniform"
          displayName="Uniform"
          icon="icons/UniformIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
    </group>
    <group displayName="Realtime" priority="300">
      <entry
          class="ptolemy.actor.lib.DelayStart"
          displayName="DelayStart"
          icon="icons/DelayStartIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.ExecutionTime"
          displayName="ExecutionTime"
          icon="icons/DefaultActorIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.Sleep"
          displayName="Sleep"
          icon="icons/SleepIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.SynchronizeToRealTime"
          displayName="SynchronizeToRealTime"
          icon="icons/SynchronizeToRealTimeIcon.xml"
          iconType="ptolemy"
          type="Parameter">
      </entry>
      <entry
          class="ptolemy.actor.lib.VariableSleep"
          displayName="VariableSleep"
          icon="icons/DefaultActorIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.WallClockTime"
          displayName="WallClockTime"
          icon="icons/WallClockTimeIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
    </group>
    <group displayName="Signal Processing" priority="300">
      <group displayName="Filtering" priority="300">
        <entry
            class="ptolemy.actor.lib.GradientAdaptiveLattice"
            displayName="GradientAdaptiveLattice"
            icon="icons/DefaultActorIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.IIR"
            displayName="IIR"
            icon="icons/IIRIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.Lattice"
            displayName="Lattice"
            icon="icons/DefaultActorIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.LinearDifferenceEquationSystem"
            displayName="LinearDifferenceEquationSystem"
            icon="icons/LinearDifferenceEquationSystemIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.RecursiveLattice"
            displayName="RecursiveLattice"
            icon="icons/DefaultActorIcon.svg"
            iconType="svg"
            type="Actor">
        </entry>
      </group>
      <group displayName="Spectrum" priority="300">
        <entry
            class="ptolemy.actor.lib.DB"
            displayName="DB"
            icon="icons/DBIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.LevinsonDurbin"
            displayName="LevinsonDurbin"
            icon="icons/DefaultActorIcon.svg"
          iconType="svg"
            type="Actor">
        </entry>
        <entry
            class="ptolemy.actor.lib.PhaseUnwrap"
            displayName="PhaseUnwrap"
            icon="icons/DefaultActorIcon.svg"
          iconType="svg"
            type="Actor">
        </entry>
      </group>
      <group displayName="Statistical" priority="300">
        <entry
            class="ptolemy.actor.lib.ComputeHistogram"
            displayName="ComputeHistogram"
            icon="icons/ComputeHistogramIcon.xml"
            iconType="ptolemy"
            type="Actor">
        </entry>
      </group>
    </group>
    <group displayName="String" priority="300">
      <entry
          class="ptolemy.actor.lib.string.StringCompare"
          displayName="StringCompare"
          icon="icons/StringCompareIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.string.StringFunction"
          displayName="StringFunction"
          icon="icons/StringFunctionIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.string.StringIndexOf"
          displayName="StringIndexOf"
          icon="icons/StringIndexOfIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.string.StringLength"
          displayName="StringLength"
          icon="icons/StringLengthIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.string.StringMatches"
          displayName="StringMatches"
          icon="icons/StringMatchesIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.string.StringReplace"
          displayName="StringReplace"
          icon="icons/StringReplaceIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.string.StringSimpleReplace"
          displayName="StringSimpleReplace"
          icon="icons/DefaultActorIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.string.StringSplit"
          displayName="StringSplit"
          icon="icons/StringSplitIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.string.StringSubstring"
          displayName="StringSubstring"
          icon="icons/StringSubstringIcon.xml"
          iconType="ptolemy"
          type="Actor">
      </entry>
    </group>
      <group displayName="RegressionTest">
      <entry
          class="ptolemy.actor.lib.Test"
          displayName="Test"
          icon="icons/DefaultActorIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.NonStrictTest"
          displayName="NonStrictTest"
          icon="icons/DefaultActorIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
      <entry
          class="ptolemy.actor.lib.TestExceptionAttribute"
          displayName="TestExceptionAttribute"
          icon="icons/TestExceptionAttributeIcon.svg"
          iconType="svg"
          type="Attribute">
      </entry>
      <entry
          class="ptolemy.actor.lib.TypeTest"
          displayName="TypeTest"
          icon="icons/DefaultActorIcon.svg"
          iconType="svg"
          type="Actor">
      </entry>
    </group>
  </extension>

</plugin>

