/CUnit-*
/checkstyle-*
/cobertura-*
/eclipse
/findbugs-*
/gdp
/giotto
/iotauth
/IzPack*
/izpack
/launch4j
/jai-*
/jhdl
/JMF-*
/jogl/jogamp-all-platforms*
/jsdoc
/openmpi-*
/mosquitto-*
/ptinyos
/spotbugs-*
/universalJavaApplicationStub