/CUnit-*
/checkstyle-*
/cobertura-*
/eclipse
/findbugs-*
/gdp
/giotto
/iotauth
/IzPack*
/izpack
/launch4j
/jai-1_1_2_01/
/jhdl
/JMF-2.1.1e/
/jogl/
/jsdoc
/openmpi-*
/mosquitto-*
/ptinyos
/spotbugs-*
/misc/cobertura-*
/misc/dbxml-*
/misc/FuzzyEngine*
/misc/javacv-bin*
/misc/powermock-easymock-junit-*
/misc/rxtx*
/misc/sphinx4*
/misc/joystick/docs
/misc/joystick/com
/misc/joystick/mac
/misc/joystick/linux
/misc/joystick/win32
/misc/joystick/runTest.sh
/misc/joystick/runTest.bat
/misc/joystick/createDoc.bat
/misc/joystick/readme.txt
/misc/joystick/createJar.bat
/misc/joystick/lib/libjjstick.so
/misc/joystick/lib/libjjstick.so.0.6
/misc/joystick/lib/libjjstick.so.0.7
/misc/joystick/lib/libjjstick.so.0
/oscP5/
/oracle/javamail*
/sun/JMF*
/sun/javacc-*
/sun/jogl*
/universalJavaApplicationStub/
